.App {
  text-align: center;
}

<<<<<<< HEAD
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

img {
  height: 20vh;
  width: auto;
  margin-bottom: 3vh;
=======
img {
  cursor: pointer;
  width: 18rem !important;
  margin: auto;
>>>>>>> styling
}
